# Ignore Makefile and C files from GitHub language stats
Makefile linguist-detectable=false
*.c linguist-detectable=false

# Optional: ignore other non-C++ files if needed
*.h linguist-language=C++  # Treat header files as C++
*.cmake linguist-detectable=false
CMakeLists.txt linguist-detectable=false
*.md linguist-detectable=false
*.qrc linguist-detectable=false
*.ui linguist-detectable=false
*.txt linguist-detectable=false
*.ico linguist-detectable=false
*.png linguist-detectable=false
*.jpg linguist-detectable=false
*.bat linguist-detectable=false
*.sh linguist-detectable=false
